<section class="py-5 border-bottom" id="sectionAbout"> 
    <div class="container px-xl-5 py-xl-3 p-sm-0">
        <p class="display-6 text-center">About Me</p>
        <div class="row m-0 p-0">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 p-0">
                <p>Passionate Full Stack Developer with five years of experience developing front-end and back-end websites to enhance companies' workflow and business decisions. Succeeded in implementing web solutions in several projects ranging from small to middle-sized companies, varying from manufacturer and retail.</p>
                <p>Proven hands-on experience in gathering requirements, designing concepts, developing testable code, and delivering websites that hundreds of users use. Deep understanding of concepts of Enterprise Resource Planning (ERP), Customer Relationship Management (CRM), and Warehouse Management Systems (WMS). Skilled in providing technical mentorship to improve code quality, reliability, and security.</p>
                <p class="list-item mb-0">Programming Language</p>
                <p class="list-item mb-0">Framework</p>
                <p class="list-item mb-0">Library</p>
                <p class="list-item mb-0">Cloud Computing</p>
                <p class="list-item mb-0">Database</p>
                <p class="list-item mb-0">Application</p>
            </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 p-0 mt-5">
                </div>
            </div>
        </div>                
</section>