<section class="py-5 border-bottom min-vh-100" id="sectionIntroduction">
    <div class="container">
        <div class="row my-0 my-xl-5">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 my-xl-5 my-auto">
                <h5 class="font-monospace display-8 text-sm-start text-center">Hello World, my name is</h5>
                <h1 class="font-monospace display-3 text-sm-start text-center">Harry Surya</h1>
                <h3 class="font-monospace fw-bold text-sm-start text-center">Full Stack Developer</h3>
                <p class="font-monospace display-8 fst-italic mb-2 text-sm-start text-center">Experienced for 5 years in developing web application for various projects across industries.</p>
                <p class="font-monospace display-8 fst-italic text-sm-start text-center"><i class="bi bi-geo-alt-fill"></i> Based in <a class="link-primary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://maps.app.goo.gl/CX36JJAVPggFXZj47" rel="noreferrer">Vancouver, BC, Canada 🇨🇦</a></p> 
                <a class="btn-dark d-none d-lg-block rounded-pill btn-lg w-50 mt-3 text-center py-2 text-decoration-none" href="#sectionAbout">About Me</a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 text-center my-xl-0 my-auto">
                <img class="img-thumbnail border-secondary" width="300" height="300" src="https://share.icloud.com/photos/0f2Ku4IWFM0-FwKruPNGXsxDg" alt="Harry Surya" />
            </div>
        </div> 
    </div>
</section>